@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background:lightGrey;
	
	
	/*new font needed!*/
}
.header {
	color:lightBlue;
	background:white;
	text-align:center;
	margin-bottom:10px;
	border: 0.2px solid #;
  	box-shadow: 63px 12px 65px 2px;
  }
.fa-male:before {
	color:grey;
    padding: 10px;
}

.popular li, .latest li {
  display: inline-block;
  width: 406px;
  height: 306px;
  margin-left:30px;
  margin-bottom:128px;
  
}
.popular {
  width: 1004px;
  margin: auto;

}
h1 {
  text-align: center;
  margin-bottom: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  padding: 20px;
  font-weight: bold;
  color: #4F4F4F;
  padding: 10px;
  
}
.user {
	 margin-top:30px;
}
img {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

 #searchVideos{
	display:inline-block;
	margin-bottom:20px;
	margin-top:20px;
	
}
 #submit{
	display:inline-block;
	margin-left:10px;
	height:20px;
	width:60px;
	
}
/*h3 {
	margin:30px;
}
.topVideos1,.topVideos2,.topVideos3,.topVideos4 {
	background:lightGrey;
	display:inline-block;
	height:200px;
	width:20%;
	margin-top:50px;
	margin:30px;
	
	
}
p {
	font-size:20px;
}
#results {
  background:white;
  border: 1px solid lightGrey;
	padding: 5px;
	margin: 0 auto 1em auto;
  height: 250px;
  overflow: hidden;
  width: 49.5%; float: left;
}
#user {
  text-align:left;
  padding:0px;
  margin:10px;
}
.picture {
  height: 150px;
  width: 150px;
  padding: 20px;
  margin-left: 100px;
}*/
.hide {
  display:none;
}
/* recommended size by Instagram */
.vid {
	width: 640px;
	height: 640px;
	margin: 0 auto;
}





