body {
	background:lightGrey;
	/*new font needed!*/
}
.header {
	color:lightBlue;
	background:white;
}
 #searchVideos{
	display:inline-block;
	margin-left:400px;
	margin-top:-10px;
}
 #submit{
	display:inline-block;
	margin-left:10px;
}
.topVideos1,.topVideos2,.topVideos3,.topVideos4 {
	background:white;
	height:300px;
	width:40%;
	margin-top:50px;
	margin-left:50px;
	display:inline-block;
}
.topVideos1{
	margin-left:50px;

}


